.main {
    padding-bottom: 50px;
}

#contact_modal,
#photo_modal {
    display: none;
}

.photograph-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #fafafa;
    height: 300px;
    margin: 0 100px;
}

.head_left {
    width: 33%;
}

.contact_button {
    position: relative;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901c1c;
    border-radius: 5px;
    cursor: pointer;
    left: -70px;
}

.no-left {
    left: 0px;
}

.float {
    position: absolute;
    z-index: 100;
    height: 55em;
    width: 100%;
    top: 15rem;
}

.modal_div {
    background-color: #db8876;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    border-radius: 5px;
    background-color: #db8876;
    height: 55em;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    margin: 0;
    font-size: 64px;
    font-weight: normal;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 13ch;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312e2e;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

#message {
    height: 136px;
}

.photographer_name {
    font-weight: 400;
    font-size: 64px;
    line-height: 83px;
    color: #d3573c;
}

.photographer_city {
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    color: #901c1c;
}

.photographer_tagline {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #525252;
}

.img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.photo_filter {
    margin: 20px 20px 50px 55px;
}

#photo_label {
    font-weight: bold;
}

#select {
    font-weight: bold;
}

.photo_section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 33.333333%;
    align-items: center;
    justify-content: space-around;
    height: auto;
    width: 95%;
    margin: 20px;
}

.photo_section img {
    height: 300px;
    width: 350px;
    cursor: pointer;
}

.container_name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 65px;
    margin-bottom: 50px;
}

.form_name {
    max-width: 13ch;
}

.footer {
    position: fixed;
    bottom: 0;
    right: 2rem;
    z-index: 999;
    background-color: #db8876;
    height: 3rem;
    width: 15rem;
    border-radius: 5px 5px 0 0px;
}

#player {
    height: 300px;
    width: 350px;
}

.no-scroll {
    overflow: hidden;
}

.top-right {
    top: 0;
    right: 0;
}

#lightbox {
    position: fixed;
    z-index: 1000;
    top: 10vh;
    left: 20vh;
    width: 100%;
    height: 100%;
    display: none;
}

#lightbox.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

#lightbox img {
    max-width: 90%;
    max-height: 80%;
    padding: 4px;
}