.main {
    padding-bottom: 50px;
}

#contact_modal,
#photo_modal {
    display: none;
}

.photograph-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #fafafa;
    height: 300px;
    margin: 0 100px;
}

.head_left {
    width: 33%;
}

.contact_button {
    position: relative;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901c1c;
    border-radius: 5px;
    cursor: pointer;
    left: -70px;
}

.no-left {
    left: 0px;
}

.float {
    position: absolute;
    z-index: 100;
    height: 55em;
    width: 100%;
    top: 15rem;
}

.modal_div {
    background-color: #db8876;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    border-radius: 5px;
    background-color: #db8876;
    height: 55em;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    margin: 0;
    font-size: 64px;
    font-weight: normal;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 13ch;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312e2e;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

#message {
    height: 136px;
}

.photographer_name {
    font-weight: 400;
    font-size: 64px;
    line-height: 83px;
    color: #d3573c;
}

.photographer_city {
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    color: #901c1c;
}

.photographer_tagline {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #525252;
}

.img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

#photo_label {
    font-weight: bold;
}

#select {
    font-weight: bold;
}

.photo_section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 33.333333%;
    align-items: center;
    justify-content: space-around;
    height: auto;
    width: 95%;
    margin: 20px;
}

.photo_section img {
    height: 300px;
    width: 350px;
    cursor: pointer;
}

.container_name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 65px;
    margin-bottom: 50px;
}

.form_name {
    max-width: 13ch;
}

.footer {
    position: fixed;
    bottom: 0;
    right: 2rem;
    z-index: 999;
    background-color: #db8876;
    height: 3rem;
    width: 15rem;
    border-radius: 5px 5px 0 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer-price {
    margin-left: 20px;
}

#player {
    height: 300px;
    width: 350px;
}

.no-scroll {
    overflow: hidden;
}

#close-btn {
    top: 0;
}

#lightbox {
    position: fixed;
    z-index: 1000;
    top: 10vh;
    left: 15vh;
    width: 100%;
    height: 100%;
    display: none;
    justify-self: center;
    align-items: center;
}

#img-lightbox {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

#video-lightbox {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    display: none;
}

#player-modal {
    height: 100%;
    width: 100%;
}

.lightbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 80%;

}

.lightbox-right {
    height: 100%;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.lightbox-left {
    height: 100%;
    width: 100%;
}

#close-btn {
    height: 100%;
}

#lightboxImg {
    max-width: 100%;
    max-height: 100%;
    padding: 10px;
    margin-left: 20px;
    object-fit: contain;
}

/* Dropdown Filter */

/* The container must be positioned relative: */
.photo_filter {
    position: relative;
    margin: 20px 20px 50px 55px;
    display: flex;
    align-items: center;
}

.photo_filter select {
    display: none;
    /*hide original SELECT element: */
}

.select-selected {
        height: 2.5em;
        width: 7em;
        background: #911C1C;
        border-radius: 5px;
        color: white;
        padding: 15px 20px 15px 15px;
        margin-left: 20px;
        display: flex;
        justify-items: center;
        align-items: center;
}

/* Style the arrow inside the select element: */
.select-selected:after {
    position: absolute;
    content: "";
    top: 25px;
    right: 10px;
    width: 0;
    height: 0;
    left: 200px;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 15px;
    left: 200px;
}

/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    display: flex;
    justify-items: center;
    align-items: center;
}

/* Style items (options): */
.select-items {
    position: absolute;
    background-color: #911C1C;
    height: 2.5em;
    width: 8em;
    background: #911C1C;
    border-radius: 0px 0 5px 5px;
    color: white;
    padding: 15px 20px 15px 0px;
    margin-left: 20px;
    top: 100%;
    left: 60px;
    right: 0;
    z-index: 99;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

/* Hide the items when the select box is closed: */
.select-hide {
    display: none;
}

.select-items div:hover,
.same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}